@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F3F3F3;
}

.input {
  @apply w-full border rounded-md px-3 py-2;
}

.btn-primary {
  @apply w-full bg-[#1B2BB8] text-white py-2 rounded-md;
}

.auth-container {
  @apply flex min-h-screen items-center justify-center bg-white;
}

.auth-form {
  @apply w-full max-w-sm space-y-4;
}

.link {
  @apply text-sm text-[#1B2BB8] cursor-pointer;
}
